@import url("//hello.myfonts.net/count/39b55f");

@font-face {font-family: 'Konnect-SemiBold';src: url('../data/webfonts/39B55F_8_0.eot');src: url('../data/webfonts/39B55F_8_0.eot?#iefix') format('embedded-opentype'),url('../data/webfonts/39B55F_8_0.woff2') format('woff2'),url('../data/webfonts/39B55F_8_0.woff') format('woff'),url('../data/webfonts/39B55F_8_0.ttf') format('truetype');}
 
@font-face {font-family: 'Konnect-Light';src: url('../data/webfonts/39B55F_D_0.eot');src: url('../data/webfonts/39B55F_D_0.eot?#iefix') format('embedded-opentype'),url('../data/webfonts/39B55F_D_0.woff2') format('woff2'),url('../data/webfonts/39B55F_D_0.woff') format('woff'),url('../data/webfonts/39B55F_D_0.ttf') format('truetype');}
 
@font-face {font-family: 'Konnect-Regular';src: url('../data/webfonts/39B55F_F_0.eot');src: url('../data/webfonts/39B55F_F_0.eot?#iefix') format('embedded-opentype'),url('../data/webfonts/39B55F_F_0.woff2') format('woff2'),url('../data/webfonts/39B55F_F_0.woff') format('woff'),url('../data/webfonts/39B55F_F_0.ttf') format('truetype');}
 
  
* {
  box-sizing: border-box;
  margin: 0;
}

.d-flex {
  display: flex !important;
}

  
/* For mobile phones: */
@media only screen and (max-width: 768px){

  .column {
    flex: 1;
  }
  /* .row {
    display: block;
  } */
  /* .row-sign-up{
    display: grid;
  } */
  #promo-banner-text{
    position: relative;
    display: block;
    text-align: center;
    margin: 3vw auto 0 auto;
    padding: 5vh 2vh;
    max-width: 100%;
  }

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .row-sign-up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }
  #promo-banner-text{
    display: none;
  }
}
/* Top Nav Bar */

#top-bar{
  padding: 0 0 2vw 0;
  width:100%;
  background-image: linear-gradient(-90deg, #D72883, #0267B7);
}
.logo-top{
  width:120px;
  height:auto;
  padding-top:3em;
}
.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.clock_container{
  flex: 1 1 auto;
}
.logo {
  padding: 0 10vw;
  text-align: center;
  flex: 1 1 auto;
}

.flip-clock-wrapper {
  margin: 0;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-clock-wrapper > * {
  order: 1;
}

@media only screen and (max-width: 650px){
  .flip-clock-divider:first-child{
    width: 20px;
  }

  .line-break {
    order: 2 !important;
    width: 100%;
    height: 20px;
  }

  .flip-clock-divider.minutes,
  .flip-clock-divider.minutes ~ *{
    order: 3;
  }
}

@media only screen and (max-width: 360px){
  .flip-clock-wrapper ul{
    width: 40px;
  }
}


/* Body */
body {
  color: #000;
  font-family: 'Konnect-Regular', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

h1 {
  color: #D72883;
  font-family: 'Konnect-SemiBold', 'Helvetica', sans-serif;
  font-weight: 800;
}

h2 {
    color: #D72883;
    font-weight: 700;
  }

/* Promo Section Style */
#promo{
  color: #000;
  background: #D72883;
}
#promo-text{
  padding: 0 3em;
}
div.promo-wrapper{
  clear: both;
  margin-top: 30px;
}
@media only screen and (max-width: 768px){
  div.promo-wrapper{
background: linear-gradient(to bottom right, black, #D72883);    /* width: 100%; */
  }
  }
.giveaway-car{
  width: 100%;
  z-index: 2;
  display: none;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .giveaway-car{
    display: block;
  }
}

.mercedes-title{
  background: linear-gradient(to right, #0267B7 0%, #D72883 100%);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  font-family: 'Konnect-SemiBold', 'Helvetica', sans-serif;
  font-weight: 800;
  font-size: 2.5em;
}
.mercedes-subtitle{
  background: linear-gradient(to right, #0267B7 0%, #D72883 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Konnect-SemiBold', 'Helvetica', sans-serif;
    font-weight: 800;
}
/* @media only screen and (min-width: 768px) {
  .mercedes-title{
    font-size: 80px;
  }
} */

.signup-wrapper{
    clear: both;
}

div#promo{
  text-align: center;
}
#left-info{
  align-items: center;
}

.signup-text{
  z-index: 2;
  padding-top: 2vw;
  position: relative;
}
.signup-bg{
    max-width: 100%;
      flex-shrink: 0;

}

@media only screen and (min-width: 768px) {
  .signup-text{
    position: absolute;
  }

  #left-info{
    margin-right: 30px; 
  }
}

.benefit-one{
  position: relative;
  height: 50px;
  width: 300px;
  margin-top: 20px;
}
.benefit-two, .benefit-three{
  position: relative;
  height: 50px;
  width: 300px;
  margin-top: 10px;
}
.benefit-four{
  position: relative;
  height: 50px;
  width: 400px;
  margin-top: 10px;
}
.benefit-two, .benefit-four{
  margin-left: 50px;
}
.benefit-one img, .benefit-two img,.benefit-three img,.benefit-four img{
  position: absolute;
  left: 0;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  #signup-form{
    float: none;
  }
}
@media only screen and (min-width: 768px) {
  #signup-form{
    float: right;
  }
}
#signup-form{
      /* background: #67a4d4; */
      /* display: inline-block; */
      text-align: left;
      /* width: 75%; 
      margin-left: calc(25% + 30px); */
  }

div#sign-up{
/* height: auto; */
padding: 0 10vw;
}
input[type=date]{
    font-family: 'Konnect-Regular', 'Helvetica', sans-serif;
    margin-top: 10px;
    width: 70%;
}
input[type=text]{
    width: 100%;
    font-family: 'Konnect-Regular', 'Helvetica', sans-serif;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[name="consent"]{
    margin-top: 15px;
}
input[type="radio"]{
  width: 5%;
}
input[type=submit] {
    margin-top: 5px;
    /* display: inline-block; */
    min-width: 105px;
    padding: 6px 10px 5px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none !important;
    overflow: visible;
    box-sizing: border-box;
    background: white;
    border: 1px #ccc solid;
    font-family: 'Konnect-Regular', 'Helvetica',sans-serif;
}

input[type=submit]:hover {
  background-color: #333333;
  color: white;
}

.container {
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}


.col-50 {
  float: left;
  width: 35%;
  margin-top: 6px;
}
.col-60 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

@media screen and (max-width: 600px) {
  .col-25 {
    width: 50%;
  }
}
/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 600px) {
    .col-25, .col-15, .col-85, .col-75, input[type=submit] {
      width: 50%;
      margin-top: 0;
    }
  } */

/* Footer */
footer{
    background-color: black;
    height: auto;
    padding: 20px 20vw 1vw 20vw;
    color: white;
    max-height: 100px;
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    display: none;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 15px 15px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
    overflow: auto;
    height: 250px;
  }
  .popup .popupshipping{
    display: none;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 15px 15px;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 70%;
    overflow: auto;
    height: 250px;
  }
  @media only screen and (max-width: 768px) {
    .popup .popuptext {
      width: 200px;
      left: 40%;

    }
    .popup .popupshipping{
      width: 200px;
      left: 40%;
    }
  }
  /* Close if click out of popup */
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    /* left: 50%; */
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  /* Validator Style */
#fname_msg, #mname_msg, #lname_msg, #dob_msg, #contact_msg, #email_msg,#address_msg, #error_msg{
  color: red;
  line-height: 30px;
} 
span#error_msg{
  margin-left: 10px;
  margin-top: 5px;
}